<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>El nombre del producto es: {{product.nombre}}</h1>
    <h2>Precio: {{product.precio}}</h2>
    <span>Stock: {{product.stock}}</span>
    <p>
        {{product.descripcion}}
    </p>
    <button onclick="eliminar()" class="btn-delete"  id="{{product.id}}">Eliminar</button>
    <script>
        function eliminar (){
            const productId = document.querySelector('.btn-delete').id
        
            fetch('http://localhost:8080/product?productId=' + productId , {method: 'DELETE'})
        }
    </script>
</body>
</html>